{% extends 'templates/base.html' %}

{% set title = "index" %}

{% block content %}
{% raw %}
<div class="container">
    <h1>Hello, World! This is the index page.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim nihil tenetur obcaecati iste sunt voluptatem quidem, repellat fugiat quam minima, deserunt corporis esse atque natus? Qui eligendi blanditiis facilis amet.</p>

    <ul>
        <li><a href="content1.html">content 1</a></li>
        <li><a href="content2.html">content 2</a></li>
    </ul>
</div>
{% endraw %}
{% endblock %}